<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>
  <p>
    <%= button_to "Destroy this message", message, method: :delete %>
    <%= button_to "Edit this message", edit_message_path(message, method: :post) %> |
  </p>
</div>
